// *************************************
//
// Article
// -> An article module
//
// *************************************
.banner-melle{
  position:relative;
  width:100%
}
.banner-melle2{
  position:relative;

}
.uitleg{
  margin-top:300px; 
  min-height: 600px;
  p{
    font-size:1.5rem;
  }
  
}
.imagewrap {
  position: relative;
  width: 100%;
}
.bx-viewport{
  z-index: -200;
}
.Article {
  margin-top: rem(40px);
}
.header-image-block{
  display:block; 
  width: 100%;
}
.contra-tabs{
    .wrapper {
      margin:30px auto;
      width:100%;
      
      color:#555;
      font-size:14px;
      line-height:24px;
    }
    h1 {
      font-size:20px;
      font-weight:bold;
      text-align:center;
      text-transform:uppercase;
    }
    h1 + p {
      text-align:center;
      margin:20px 0;
      font-size:16px;
    }
    .tabs {
      li {
        float:left;
        width:25%;
      }
      a {
        display:block;
        text-align:center;
        text-decoration:none;
        text-transform:uppercase;
        color:#888;
        padding:10px 0;
        font-size: 1.2rem;
        img{
          
          &:hover {
          width:110px;
          height:110px;
        }
        }
        
        
      }
    }
    .tabgroup {
      border-top:2px solid #FF0400;
      div {
        padding:0px;
        
      }
      p{
        font-size: 1.2rem
      }
    }
    .clearfix:after {
      content:"";
      display:table;
      clear:both;
    }


}
.wrapper-for-button{
  position:relative;
}
.for-scroll-button{
  margin:0 auto;
  position:absolute;
}
.scroll-to-bottom{
  display: block;
  width:110px;
  height:50px;
  position: static;
  bottom:50px;
  background:rgba(246, 4, 22, 1);
  text-align: center;
  border:5px solid rgba(246, 4, 22, 1);       
  border-radius:5px 5px 5px 5px;
  z-index: 1;
  left: 50%;
  z-index: -1;
  img{
    width:80%
  }
}
.scroll-to-bottom-gray{
  width:110px;
  height:50px;
  position:absolute;
  background:rgba(0, 0, 0, 0.7);
  text-align: center;       
  border-radius:0px 0px 10px 10px;
  margin:0 auto;
  bottom: -50px;
  left:0px;
  z-index: 99999999999;
  img{
    width: 66%;
    margin-top: 5px;
  }
}
.align-center{
  text-align: center;
}
// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// ----- Inverted ----- //

.Article--inverted {
  margin-top: rem(10px);

  .Article-heading {
    color: $c-white;
  }

  .Article-tagline {
    color: $c-white;
  }

  .Article-content {
    color: shade($c-blue, 50%);
    font-weight: bold;  
  }
}
.overlayuberwrap {
  position: absolute;
  height: 100%;
  top: 0px;
  width: 100%
}

.pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/pattern.png);
  top:0px;
  bottom:0px;
}



.upperbase {
  width: 100%;
  height: 100%;
  
}

.bannerinhoud {
  position:absolute;
  padding: 0 50px;
  padding-bottom:20px;
  right: 0px;
  bottom: 35%;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.7);
  width:50%;
  h2 {
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  p{
    color:white;
    margin-bottom: 20px;
  }
}



.bannerparagraph {
  color: white;
  font-size: 20px;
  padding: 0;
  p{
    color:white;
    font-size: 20px;
  }
  a{
    font-size: 20px;
  }
}

input.search {
  background: #FF0400;
  color: white;
  border:0;
  font-size: 12px;
  padding: 8px;
  border-radius: 5px;
}

input.searchsubmit {
  border:0;
  background: #FF0400;
  color: white;
  background-image:url('../img/search.png');
  margin-top: 2px;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  border-bottom: 2px solid #FF0400;
}

.smartlink {
  background: url(../img/black.png);
  text-align: center;
  padding: 20px;
  width: 33%;
  margin-right: 0.5%;

    &:last-of-type {
      margin-right: 0;
    }
  float: left;
  color: white;
}

.smartlink a {
  color: white;
  text-decoration: none;
}

.smartlink_wrap {
  width: 100%;
  position: absolute;
  bottom: 0px;

}

.overonsbanner {
  background: #FF0400;
  color: white; 


  p {
    margin:20px;
  }
}

.overonsbanner h2 {
  font-weight: 100;
  letter-spacing: 2px;
  margin:0;
  margin-top: 20px;
  font-size: 20px;
}

.homepage p {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 24px;
  margin: 30px 0;
  margin-bottom: 30px;
}

.zneblogo {
  margin-top: 40px;
}

.expertises {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  margin: 40px 0;

  h3 {
    margin: 0;
  }
}

a .expertiseimagetitel {
  height: 20px;
  color: black;
}

.expertisecontainer {
  margin-bottom: 30px;
  background: $c-white;
}

.expertiseimage {
width: 120px;
height: 120px;
margin-top: 10px; 
border-radius: 33px;
  
&:hover {
    width: 110px;
    height: 110px;
  }
}
.expertiseimage-con {
margin-top: 10px;
border-radius: 33px;
&:hover {
    width: 110px;
    height: 110px; 
  }
}
.expertiseimage-cont {
margin-top: 10px;
border-radius: 33px;
width: 120px;
height: 120px;
&:hover {
    width: 110px;
    height: 110px;  
  }
}

.tabmenu {
  text-align: center;
  font-size: 16px;
  font-weight: 100;

  .tabmenu-option2 {
    width: 50%;
    padding: 10px;
    float: left;
    border-bottom: 3px solid #FF0400;
  }
  .tabmenu-option3 {
    width: 33.333333%;
    padding: 10px;
    float: left;
    border-bottom: 3px solid #FF0400;
  }
  .tabmenu-option4 {
    width: 25%;
    float: left;
    padding: 10px 0px;
    border-bottom: 3px solid #FF0400;
  }

  .tabmenu-option5 {
    width: 20%;
    padding: 10px;
    float: left;
    border-bottom: 3px solid #FF0400;
  }

}

.tabmenu-option2:hover, .tabmenu-option3:hover, .tabmenu-option4:hover, .tabmenu-option5:hover {
  background: #e0e0e0
}

.Content--app {
  margin: 30px 0;
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Title ----- //

.Article-heading {
  text-transform: uppercase;
  margin: 0;
}

// ----- Subtitle ----- //

.Article-tagline {
  margin: 0;
  font-weight: bold;
}

// ----- Content ----- //

.Article-content {
}

.adress-info {
  padding: 1px 10px 20px 20px;
  background: #FF0400;
  color: white;
  border-radius: 20px;
}
.banner-small-screen{
  display:none;
  }
.logo-for-small{
  display:none;
}
@media all and (max-width: 1750px) {
.scroll-to-bottom{
  bottom:200px;
}
.bannerinhoud {
  bottom: 25%;
  width:60%;
  }
}
@media all and (max-width: 1380px) {
.bannerinhoud {
  bottom:35%;
  width:70%;
  padding: 0 20px;
  padding-bottom:10px;
  h2{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  }
}

@media all and (max-width: 1040px) {

  .bannerinhoud {
    bottom: 20%;
    width:80%;
  }
  .scroll-to-bottom{
  bottom:50px;
  }
}
@media all and (max-width: 900px) {
.bannerinhoud {
    bottom: 10%; 
    width:100%;
  }

}
@media all and (max-width: 760px) {
.bannerinhoud {
    bottom: 14%;
    width:100%;
  }

}
@media all and (max-width: 667px) {
.bannerinhoud{
  display:none;
}
.bannerparagraph{
  color:black;
}
.banner-small-screen{
  display:block;

}

} 
@media all and (max-width: 500px) {
   .logo-for-small{
    display:block;
    margin:0 auto;
    height:60px;
  }
  .logo-for-large{
    display: none;
  }   
  .off-button{
    display:none;
  }

}