// *************************************
//
// Article
// -> An article module
//
// *************************************

.Article {
  margin-top: rem(40px);
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// ----- Inverted ----- //

.Article--inverted {
  margin-top: rem(10px);

  .Article-heading {
    color: $c-white;
  }

  .Article-tagline {
    color: $c-white;
  }

  .Article-content {
    color: shade($c-blue, 50%);
    font-weight: bold;  
  }
}

.pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/pattern.png)
}

.banner {
  background-size: cover;
  height: 800px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.upperbase {
  width: 100%;
  height: 100%;
  
}

.bannerinhoud {
  margin-top: 500px;
  padding: 0 100px;
   
  h2 {
    color: white;
  }
}

.bannerparagraph {
  color: white;
  font-size: 15px;
  padding: 0
}

input.search {
  background: #f60416;
  color: white;
  border:0;
  font-size: 12px;
  padding: 8px;
  border-radius: 5px;
}

input.searchsubmit {
  border:0;
  background: #f60416;
  color: white;
  background-image:url('../img/search.png');
  margin-top: 2px;
  width: 32px;
  height: 32px;
  border-radius: 5px;
}

.smartlink {
  background: url(../img/black.png);
  text-align: center;
  padding: 20px;
  width: 33%;
  margin-right: 0.5%;
    &:last-of-type {
      margin-right: 0;
    }
  float: left;
  color: white;
}

.smartlink a {
  color: white;
  text-decoration: none;
}

.smartlink_wrap {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.overonsbanner {
  background: #f60416;
  color: white;

  p {
    margin:20px;
  }
}

.overonsbanner h2 {
  font-weight: 100;
  letter-spacing: 2px;
  margin:0;
  margin-top: 20px;
  font-size: 20px;
}

.homepage p {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 100;
  line-height: 24px;
  margin: 10px 0;
  margin-bottom: 30px;
}

.zneblogo {
  margin-top: 40px;
}

.expertises {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  margin: 40px 0;

  h3 {
    margin: 0;
  }
}

a .expertiseimagetitel {
  height: 20px;
  color: black;
}

.expertisecontainer {
  margin-bottom: 30px;
}

.expertiseimage {
width: 120px;
height: 120px;
margin-top: 10px;
border-radius: 33px;
  
&:hover {
    position: relative;
    top: 3px;
  }
}

.imageshadow {
        -webkit-box-shadow: -27px 14px 26px 0px rgba(50, 50, 50, 0.56);
    -moz-box-shadow:    -27px 14px 26px 0px rgba(50, 50, 50, 0.56);
    box-shadow:         -27px 14px 26px 0px rgba(50, 50, 50, 0.56);
  }

.tabmenu {
  text-align: center;
  font-size: 16px;
  font-weight: 100;

  .tabmenu-option2 {
    width: 50%;
    padding: 10px;
    float: left;
    border-bottom: 3px solid red;
  }
  .tabmenu-option3 {
    width: 33.333333%;
    padding: 10px;
    float: left;
    border-bottom: 3px solid red;
  }
  .tabmenu-option4 {
    width: 25%;
    float: left;
    padding: 10px 0px;
    border-bottom: 3px solid red;
  }

  .tabmenu-option5 {
    width: 20%;
    padding: 10px;
    float: left;
    border-bottom: 3px solid red;
  }

}

.tabmenu-option2:hover, .tabmenu-option3:hover, .tabmenu-option4:hover, .tabmenu-option5:hover {
  background: #e0e0e0
}

.Content--app {
  margin: 30px 0;
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Title ----- //

.Article-heading {
  text-transform: uppercase;
  margin: 0;
}

// ----- Subtitle ----- //

.Article-tagline {
  margin: 0;
  font-weight: bold;
}

// ----- Content ----- //

.Article-content {
}

.adress-info {
  padding: 1px 10px 20px 20px;
  background: #f60416;
  color: white;
  border-radius: 20px;
}