// *************************************
//
// Header
// -> Main site header
//
// *************************************
.header-abso{
  position:absolute;
  z-index: 99999;
  width:100%;
}
.Header {
  background-image: url("../img/img-header-bg.png");
  background-size: cover;
}

.upper-header {
  position: relative;
  width: 100%;
  z-index: 100;  
  background: rgba(255,255,255,0.95);
}

.logo {
  width: 100%;
  padding: 10px;
  // background: url(../img/white.png); 

}
.off-button{
right:50px;
top:50px;
position:absolute;
background-color:#FF0400;
border-radius:5px;
padding:10px;
color:white;
  a{
    color:white;
    font-weight: 700;
    text-decoration: none;
  }
}
// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Contact bar ----- //

.Header-contact {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.5);
}

// ----- Contact bar ----- //

.Header-logo {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.25);
}

// ----- Nav bar ----- //

.Header-nav {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: $c-blue;
}

// ----- Carousel ----- //

.Header-carousel {
  @extend .u-gridRow;
  padding-bottom : ($l-whiteSpace * 4);
  padding-top    : ($l-whiteSpace * 4);
}

.Slider {
	visibility: hidden;
}
