// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Bot-Nav {
  background: url(../img/black.png);
  padding: 5px;
}

.Navigation {
  @include clearfix;
  text-align: center;
  width: 70%;
  float: left;
  padding: 15px;
}

.buttons {
  width: 40%;
  float: left;
}

.sidenav {
  width: 30%;
  float: right;
  text-align: right;
  margin-top: 5px;

  #searchform {
    float: right;
    margin-top: 6px;
  }
}

.sidenav_buttons {
  float: right;
  margin-left: 10px;
}

@media all and (max-width: 500px) {
    
    h2 {
      font-size: 16px;
    }

    .bannerinhoud {
      margin-top: 130px;
      padding: 0px 20px;
    }

    .tabmenu img {
      width: 50%;
      height: 50%;
    }

    .tabmenu {
      font-size: 12px;
    }

    h3 {
      font-size: 18px;
    }
}

@media all and (max-width: 1040px) {
  #searchform {
    display:none;
  }

  .sidenav_buttons {
    float: left;
  }

  .sidenav {
    display:none;
  }
  .Navigation {
    width: 100%;
    padding: 0;
  }

  .Bot-Nav {
    max-height: 58px;
    padding:0;
  }

  .Navigation-listItem {
    border:0;
    margin: 0;
  }

  .Navigation-list {
  
    background: url(../img/black.png);
    background-color: none;
  }

  .Navigation-listItem:first-of-type {
    box-shadow: 0;
    border: 0;
  }

  #js-navCollapseTarget {
    top: 0px !important;
  }

  .Navigation-listItem:first-of-type{

  }

  .banner {
    height: 400px;
  }

  .bannerinhoud {
    margin-top: 150px;
    padding: 0px 20px;
  }
}
// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-list {
	display: block;
  margin:0;
}

.Navigation-link.is-active {
  text-decoration: underline;
}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------
.Navigation-list--dropdown .Navigation-listItem {
  background: url(../img/black.png);
  text-align: left;
  margin-top: 5px;
}


// ----- List item ----- //

.Navigation-listItem {
  display: block;
  margin: 1px rem(12px);
  float: left;
  border-right: 1px solid white;
  padding-right: 20px;
  color: white;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
    border:0;
  }
}

.Navigation-listItem--hasDropdown .Navigation-listItem {
  width: 300px
}

// ----- Navigation link ----- //

.Navigation-link {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
}

.Navigation-list--dropdown {
  .Navigation-link {
    font-size: 12px;
    text-transform: none;
  }
}

.Navigation-link--invertedBold {
  color: $c-white; 
  font-weight: bold;
}

ul .Navigation-list {
  width: 100%;
}
